<!-- pager -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="row">
                <ul class="pager">
                    <div class="col-xs-6 col-sm-4 col-md-4">
                    {{#if prev}}
                        <li class="previous pagination">
                            <p><a href="{{page_url prev}}"> &larr;Más recientes</a></p>
                        </li>
                    {{/if}}
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4 col-md-offset-4 col-sm-offset-4">
                    {{#if next}}
                        <li class="next pagination">
                            <p><a href="{{page_url next}}">Más antiguas &rarr;</a></p>
                        </li>
                    {{/if}}
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>